BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=reexplain
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=